body {
  background-color: #abce80;
  font-family: Verdana, Arial, sans-serif;
}

h1, h2 {
  font-family: Georgia, "times new roman", serif;
}

article {
  float: left;
  width: 500px;
  margin: 10px;
}

  footer {
    clear: both;
    text-align: center;
  }

  a:link {
    text-decoration: none;
    color: green;
  }

a:hover{
text-decoration: underline;
color: green;


}
